# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# App Configuration
NEXT_PUBLIC_APP_NAME=The Librarian
NEXT_PUBLIC_APP_DESCRIPTION=Library Management System

# Environment
NODE_ENV=development
